
.hidden
{display: none!important;}

/*===== Text =====*/
.cu_text
{
	padding: 1em;
	margin: 0 25%;
}
.cu_text h1
{
	font-weight: bold;
	color: #0493bd;
}

/*===== Map =====*/
.cu_map
{
	width: 100%;
	height: 450px;
}